@use 'variables' as v;
@use 'mixins';

.footer{
    border:2px solid green;
    margin-top:1rem;
    background-color: v.$Black;
    display:flex;
    justify-content: space-between;
    height:7rem;
    align-items: center;
    position: relative;
    @media (max-width:330px){
        width:20rem;
        margin-left:1rem;
    }
    &__informacion{
        color:v.$Coshita;
    }
    &__iconos{
        //border:1px solid red;
        width:10rem;
        height:5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
        margin-right:2rem;
    }
    &__icono{
        width:3rem;
        //height:10rem;
        background-color:white;
        background-repeat: initial;
        border-radius:100%;
        outline:1px solid black;
    }
}

.wsp{
    float:right;
    background-color:transparent;
    //border:1px solid red;
    position: sticky;
    bottom:5rem;
    @media (max-width:330px){
        margin:0 -20%;
    }
}
