@use 'variables' as v;
@use 'mixins';

.formation{
    //border:1px solid red;
    
    margin:0 auto;
    text-align: center;

    &__info{
        display:flex;
        flex-direction: column;
        gap:4rem;
        padding:5rem;
        @media(max-width:800px){
            padding:0;
        }
        &__title{
            font-size:3rem;
            //border:1px solid red;
            color:v.$Wrapper;
            position:relative;
            width:20rem;
            margin:0 auto;
            padding-bottom:1rem;
            &:before{
                @include mixins.subrayado-aqua;
            }
        }
        &__description{
            width:80%;
            margin:0 auto;
            font-size: 1.3rem;
            @media(max-width:800px){
               margin-bottom:1rem;
            }
        }
    }
    &__skills{
        display:flex;
        gap:2rem;
        width:auto;
        justify-content: space-evenly;
        margin-bottom:1rem;
        //border:1px solid red;
        @media(max-width:800px){
            gap:1rem;
         }
        &__icon{
            width:6rem;
            //outline:1px solid red;
            @media(max-width:800px){
                width:2rem;
             }
        }
        & .html{
            width:8rem;
            @media(max-width:800px){
                width:2.8rem;
             }
        }
        & .bootstrap{
            width:10rem;
            @media(max-width:800px){
                width:4rem;
             }
        }
    }
}