@use 'variables';

.header{
    //border:1px solid red;
    display:flex;
    position:sticky;
    top:0;
    background-color:black;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 24px;
    z-index: 1;
    @media (min-width: 1115px){
        height: 112px;
        border-bottom: 1px solid variables.$Coshita;
    }
    &__navegation{
        width: 260px;
        text-align: center;
        height:100%;
        //border:1px solid blue;
        display:flex;
        align-items: center;
        justify-content: space-between;
        //gap:px;
        @media (min-width: 1115px){
            width: 750px;
        }
    }
    &__menu{
        &:hover{
            cursor:pointer;
        }
        @media (min-width: 1115px){
            display:none;
        }
    }
    &__cart-avatar{
        //border:1px solid blue;
        display:flex;
        align-items: center;
        width:70px;
        justify-content: space-between;
        @media (min-width: 1115px){
            width:125px;
        }

    }
    &__cart{
        position:relative;
        &--notification{
            background-color: variables.$Coshita;
            width:20px;
            height:20px;
            border-radius:16px;
            position:absolute;
            top: -5px;
            right:-14px;
            font-size:1rem;
            text-align: center;
            color:variables.$White;
            opacity: 0;
        }
        &:hover{
            cursor:pointer;
        }

    }
    &__avatar{
        width:24px;
        height:30px;
        border-radius: 100%;
        transition:0.05s;
        @media (min-width: 1115px){
            width:45px;
            height:35px;
        }
        &:hover{
            cursor:pointer;
            border:2px solid variables.$Coshita;
        }
    }
    &__logos{
        //border:1px solid red;
        width:320px;
        height:50px;
        margin-right:10px;
    }
    &__logo{
        //border:1px solid blue;
        width:160px;
    }
    &__logo-2{
        //border:1px solid blue;
        height:45px;

    }
    

}
.cart-icon{
    width:22px;
}
.display{
    display:none;
}