@use 'variables' as v;
@use 'mixins';

.modal-navbar{
        @include mixins.modal-background;
        //display:none;
        background-color: v.$Black;
        width:250px;
        height: 100vh;
        padding:28px 24px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);

        &__items{
            //border: 1px solid red;
            display:flex;
            flex-direction:column;
            justify-content: space-around;
            height:200px;
            list-style: none;
            margin-top:50px;
        }
        &__link{
            text-decoration: none;
            color:v.$White;
            font-weight: 700;
            font-size: 1.1em;
            transition:.2s;
            &:hover{
                color:v.$Coshita;
                text-decoration: none;
            }
        }
        &__close-icon{
            float:right;
            width:2rem;
            height:2rem;
            background-color:transparent;
           
        }
    
}

