@use 'variables';

.navbar{
    display:none;
    //border:1px solid green;
    width:400px;
    &__items{
        list-style: none;
        display:flex;
        justify-content: space-between;
    }
    &__link{
        text-decoration: none;
        color:variables.$Pale-orange;
        display: block;
        height: 112px;
        padding-top:42px;
        transition: 0.1s;
        &:hover{
            border-bottom:4px solid variables.$Coshita;
            
            //Por bootstrap
            text-decoration:none;
            color:variables.$Coshita;
        }
    }
    @media (min-width: 1115px){
        display:block;
    }
}