@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,300&display=swap');

$Wrapper: #191c32;
$Card: #2b3058;
$Aqua: rgb(0,255,255);
$TransparentAqua: rgba(0,255,255,0.7);